[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	show-files = diff-tree --no-commit-id --name-only -r HEAD
[color]
	ui = auto
[core]
	pager = delta
[delta]
	navigate = true
[diff]
	algorithm = histogram
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[push]
	default = current
[user]
	email = hamacher@brutallogic.net
	name = Josh Hamacher
